[submodule "shas-goals"]
	path = shas-goals
	url = https://github.com/shalotelli/shas-goals.git
[submodule "jasons-goals"]
	path = jasons-goals
	url = https://github.com/jsmiff/jasons-goals.git
[submodule "scotts-goals"]
	path = scotts-goals
	url = https://github.com/slove11/scotts-goals
[submodule "chazs-goals"]
	path = chazs-goals
	url = https://github.com/chazclark/chazs-goals
[submodule "nicks-goals"]
	path = nicks-goals
	url = https://github.com/ncapito/nicks-goals
[submodule "angularjs-styleguide"]
	path = angularjs-styleguide
	url = git@github.com:unboxedtechnology/angularjs-styleguide.git
[submodule "ricks-goals"]
	path = ricks-goals
	url = git@github.com:rickbeddard/ricks-goals.git
